*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #ccc;
  width: 100vw;
  height: 100vh;
}

#start {
  position: relative;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 2px;
}
.btn--animated {
  animation: moveInBotton 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #262626;
  color: #ccc;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white::after {
  background-color: #262626;
}

.btn:hover::after {
  transform: scale(1.4, 1.6);
  opacity: 0;
}
@keyframes moveInBotton {
  0% {
    opacity: 0;
    transform: translatey(3rem);
  }

  100% {
    opacity: 1;
    transform: translatey(0);
  }
}
